/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$abdulellah						  #942dab !default;
*/

$base-background-color: #f3f3f3 !default;

$positive: #8962ed !default;
$dark: #524b57 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "www/libraries/ionic/scss/ionic";

ion-content, .bar .title, .bar small{
	direction: rtl;
}

.item-avatar
{
	padding-left: 0;
	padding-right: 72px;
}

.item-avatar > img:first-child{
	right: 16px;
}

.item-map{
	padding: 0;
	height: 300px;
	margin-bottom: -60px;
}

.map{
	width: 100%;
	height: 100%;
}

.scroll{
	height: 100%;
}

.item .badge{
	left: 16px;
	right: auto;
	font-weight: normal;
}

.rtl, .popup-body, .loading-container .loading, .popup-buttons, .action-sheet-title, .action-sheet .button{
	direction: rtl;
}

.popup-buttons .button{
	margin-right: 0;
	margin-left: 5px;
}

.popup-buttons .button:last-child{
	margin-left: 0;
}

a{
	color: $positive; text-decoration: none;
	border-bottom: 1px dotted $positive;
}

.modal-bg{
	/*background: url('http://38.media.tumblr.com/tumblr_m7r76sNkp41r7exs2o1_500.gif') center center no-repeat;
	background-size: cover;
	opacity: 0.1;*/
}

.lovely-modal{
	text-align: center;
	position: absolute;
	width: 100%; top: 50%;
}

.item-input input{
	@include flex(1, 0, 180px);
	text-align: right;
}

.item-select select{
	right: auto;
	padding: 0;
	padding-right: 24px;
}

.item-select:after{
	left: 16px;
	right: auto;
}

.item-avatar img{
	background-color: #f1f1f1;
}

.item-checkbox{
	padding-left: 0;
	padding-right: 60px;
}

.button-bar > .button{
	border-width: 1px 1px 1px 1px;
}

.item-note{
	float: left;
}

.item-photo{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f3f3f3;
}

.item-photo img{
	border-radius: 50%;
	background-color: #fff;
	height: 70px;
}

/*.button-bar > .button:first-child{
	border-radius: 0px 2px 2px 0px;
}*/

.slider{
	width: 100%; height: 100%;
	background-color: #524b57; /*6734e8*/
}

ion-slide img{
	margin-top: 50%; border-radius: 50%;
	background-color: #fff; height: 70px;
}

.slide-welcome{
	/*background: url('http://33.media.tumblr.com/0e1d3679560684ec289cb066abc6569a/tumblr_nlmv2lrHff1qikcuzo1_400.gif') center center no-repeat;
  	background-size: cover;*/
	background-color: #524b57;

	/*&:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .9; 
  }*/
}

.slide-groups{
	background-color: #8962ed;
}

.slide-trainings{
	background-color: #ef473a;
}

.slide-activities{
	background-color: #33cd5f;
}

ion-slide{
	text-align: center;
}

ion-slide p{
	padding: 20px; margin-top: 10px;
	direction: rtl; color: #fff;
}

.slider-pager .slider-pager-page{
	color: #fff;
}

.slider-pager-page .active{
	color: #ccc;
}

.item-logo{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f3f3f3;
}

.home-no-items{
	margin-top: 50%;
}

.home-no-items-with-tab{
	margin-top: 30%;
}

.home-no-items img, .home-no-items-with-tab img{
	border-radius: 50%; height: 70px;
	background-color: #fff;
}