/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$abdulellah						  #942dab !default;
*/

$base-background-color: #f3f3f3 !default;

$positive: #8962ed !default;
$dark: #524b57 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "/libraries/ionic/fonts" !default;

// Include all of Ionic
@import "www/libraries/ionic/scss/ionic";

ion-content, .bar .title, .bar small{
	direction: rtl;
}

.item-avatar
{
	padding-left: 0;
	padding-right: 72px;
}

.item-avatar > img:first-child{
	right: 16px;
}

.item .badge{
	left: 16px;
	right: auto;
	font-weight: normal;
}

.rtl, .popup-body, .loading-container .loading, .popup-buttons, .action-sheet-title{
	direction: rtl;
}

.popup-buttons .button{
	margin-right: 0;
	margin-left: 5px;
}

.popup-buttons .button:last-child{
	margin-left: 0;
}

a{
	color: $positive; text-decoration: none;
	border-bottom: 1px dotted $positive;
}

.vertical-center{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.item-input input{
	@include flex(1, 0, 180px);
	text-align: right;
}

.item-select select{
	right: auto;
	padding: 0;
	padding-right: 24px;
}

.item-select:after{
	left: 16px;
	right: auto;
}

.item-avatar img{
	background-color: #f1f1f1;
}

.item-checkbox{
	padding-left: 0;
	padding-right: 60px;
}

.button-bar > .button{
	border-width: 1px 1px 1px 1px;
}

.item-note{
	float: left;
}

.item-photo{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f3f3f3;
}

.item-photo img{
	border-radius: 50%;
	background-color: #fff;
	height: 70px;
}

/*.button-bar > .button:first-child{
	border-radius: 0px 2px 2px 0px;
}*/

.slider{
	height: 100%;
	background-color: #f0da5e;
}

ion-slide{
	margin-top: 50%;
	text-align: center;
}
