
<ion-view view-title="المجموعات">

  <ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="more()"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <ion-refresher pulling-icon="ion-ios-arrow-down" pulling-text="اسحب للتحديث..." on-refresh="groupsPullToRefresh()" class="rtl"></ion-refresher>

    <ion-list>

    	<!-- 24, 27, 38 -->
		<div class="text-center rtl padding" style="margin-top: 50%;" ng-if="groups.length == 0">
			<img src="http://api.adorable.io/avatars/70/27" style="border-radius: 50%; background-color: #fff; height: 70px;"/ ><br /><br />
			لم تنضم إلى أيّ مجموعة حتّى الآن، إذا كُنت تدير مجموعة لعب خارج التطبيق، فإنّه يُمكنك إضافتها من خلال اللّمس على أيقونة <span class="ion-ios-plus-outline" /> في الأعلى، أمّا إذا كنت عضوًا في مجموعة لعب فانتظر إضافتك من قبل مُديرها.
		</div>

     <a href="#/trainings/{{training.id}}/activities" class="item item-avatar" ng-repeat="group in groups">
        
        <img src="http://api.adorable.io/avatars/70/group-{{group.id}}" / >
        
        <h2>{{group.name}}</h2>
        <p>{{group.playersCount}} لاعب.</p>
        
      </a>
      
    </ion-list>

  </ion-content>

</ion-view>