
<ion-tabs class="tabs-icon-only">

	<!-- badge="6" badge-style="badge-positive" -->
	<ion-tab title="Trainings" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" ui-sref="tabs.trainings">
		<ion-nav-view name="tabs-trainings"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Groups" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tabs.groups">
		<ion-nav-view name="tabs-groups"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tabs.profile">
		<ion-nav-view name="tabs-profile"></ion-nav-view>
	</ion-tab>

</ion-tabs>