
<ion-view view-title="التمارين">

  <ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="more()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-clock-outline" ng-click="more()"></button>
  </ion-nav-buttons>

  <!-- <div class="bar bar-subheader bar-stable">
  	<div class="button-bar">
  		<a href="" class="button button-clear button-positive">مخصّصة لي</a>
  		<a href="" class="button button-clear button-dark">قريبة منّي</a>
  	</div>
  </div> -->

  <ion-content padding="true">

    <ion-refresher pulling-icon="ion-ios-arrow-down" pulling-text="اسحب للتحديث..." on-refresh="trainingsPullToRefresh()" class="rtl"></ion-refresher>

    <ion-list>

		<!-- Specified to me. -->
		<div class="item item-divider" ng-if="specifiedTrainings.length > 0">
		  <span class="rtl">خاصٌّ بي</span>
		</div>

    	<!-- 24, 27, 38 -->
		<div class="text-center rtl padding" style="margin-top: 50%;" ng-if="specifiedTrainings.length == 0">
			<img src="http://api.adorable.io/avatars/70/24" style="border-radius: 50%; background-color: #fff; height: 70px;" / ><br /><br />
		  لم يتم العثور على أيّ تمرين، يُمكنك إضافة تمرينٍ جديدٍ من خلال اللّمس على أيقونة <span class="ion-ios-plus-outline" /> في الأعلى.
		  كذلك يُمكنك البحث عن تمرينٍ أضافهُ آخرون من خلال السحب من الأعلى إلى الأسفل.
		  كما يُمكنك استعراض التمارين السابقة من خلال اللّمس على أيقونة <span class="ion-ios-clock-outline" /> في الأعلى.
		</div>
      
      <a href="#/trainings/{{training.id}}/activities" class="item item-avatar item-icon-left" ng-repeat="training in specifiedTrainings">
        
        <img src="http://api.adorable.io/avatars/70/training-{{training.id}}" / >
        
        <h2><!-- <span class="assertive">&bull;</span> -->{{training.name}}</h2>
        <p>{{training.startedAt | arDate }}</p>
        <!-- <span class="badge badge-clear assertive">التحضير جارٍ...</span> -->
        <!-- <span class="icon ion-ios-circle-outline " /> -->

      </a>

		<div class="row"><div class="col"></div></div>

		<!-- Around me. -->
		<div class="item item-divider" ng-if="aroundTrainings.length > 0">
		  <span class="rtl">قريبٌ منّي</span>
		</div>

		 <a href="#/trainings/{{training.id}}/activities" class="item item-avatar" ng-repeat="training in aroundTrainings">
        
        <img src="http://api.adorable.io/avatars/70/training-{{training.id}}" / >
        <img src="https://raw.githubusercontent.com/modemlooper/BuddyVerified/master/images/1.png" style="background-color: transparent; position: absolute; right: 10px; bottom: 10px; width: 16px; " />
        
        <h2>{{training.name}}</h2>
        <p>{{training.startedAt | arDate }}</p>

        <!-- <span class="badge badge-clear" ng-if="training.activitiesCount > 0">{{training.activitiesCount}}</span> -->
        
      </a>

    </ion-list>

    
</div>

  </ion-content>

</ion-view>