
<ion-view view-title="اللاعبون">

  <ion-nav-bar>
    <ion-nav-back-button ng-click="playersBack()"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-arrow-back" ui-sref="tabs.groups"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="more()"></button>
  </ion-nav-buttons>

  <ion-content padding="true">

    <ion-refresher pulling-text="اسحب للتحديث..." class="rtl"></ion-refresher>

    <ion-list>

      <div class="item item-text-wrap text-center rtl" ng-if="players.length == 0">
        لم يتم إضافة لاعبين حتّى الآن، يمكنك القيام بذلك من خلال اللمس على أيقونة '+' في الأعلى.
      </div>
      
      <ion-item class="item item-avatar item-icon-left" ng-repeat="player in players" ng-click="playerMore(player.id)">

        <img src="http://api.adorable.io/avatars/70/{{player.id}}" />
        <h2>{{player.fullname}}</h2>
        <p>انضم {{player.joinedAt | fromNow }}</p>
        <span class="icon ion-ios-more"></span>

        <!-- <p>
          <span ng-if="player.role == 'member'">انضم {{player.joinedAt | fromNow }}</span>
          <span class="assertive" ng-if="player.role == 'admin'">مدير المجموعة</span>
        </p> -->

      </ion-item>
      
    </ion-list>

  </ion-content>

</ion-view>