
<ion-view view-title="حول التطبيق">

  <ion-nav-bar>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" has-header="true">

    <div class="list">

      <div class="item text-center item-logo">
        <img src="img/logo.png" />
      </div>

      <!-- Get the version of the app. -->
      <div class="item">
        الإصدار
        <span class="item-note rtl">{{ appVersion }}</span>
      </div>

      <div class="item">
        <a class="button button-block button-positive" href="#" onclick="window.open('http://tamreen-app.com/', '_system', 'location=yes'); return false;">زيارة الموقع الإلكترونيّ</a>
      </div>

    </div>
    
  </ion-content>
  <div class="bar bar-footer bar-light">
    <div class="title rtl">
      <small>بُني في الرياض.</small>
    </div>
  </div>


</ion-view>