
<ion-view view-title="تراخيص قانونيّة">

  <ion-nav-bar>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content has-header="true">

    <div class="list">

      <div class="item item-text-wrap">
      		<p class="text-right rtl">
      			تطبيق تمرين بُني باستخدام الكثير من البرمجيات مفتوحة المصدر.
      		</p>
      </div>

      <div class="item">
        Ionic Framework
        <span class="item-note">The MIT License (MIT)</span>
      </div>

      <div class="item">
        Apache Cordova
        <span class="item-note">Apache License, Version 2.0</span>
      </div>

      <div class="item">
        AngularJS
        <span class="item-note">The MIT License (MIT)</span>
      </div>

      <div class="item">
        ngCordova
        <span class="item-note">The MIT License (MIT)</span>
      </div>

    </div>

  </ion-content>

</ion-view>