
<ion-view title="إضافة مجموعة">

  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true">
    <form name="addForm" ng-submit="add()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="اسم المجموعة" ng-model="parameters.name" class="rtl text-left" />
        </label>
        <div>
          <button class="button button-block button-positive rtl" type="submit">إضافة مجموعة</button>
        </div>
        <div class="text-center rtl">
          إضافة اللاعبين إلى المجموعة سيأتي تباعًا.
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>