
<ion-view view-title="المجموعات">

  <ion-nav-bar>
  </ion-nav-bar>

  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-more" ng-click="more()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-plus-round" href="#/groups/add"></a>
  </ion-nav-buttons>

  <ion-content padding="true">

    <ion-refresher pulling-text="اسحب للتحديث..." on-refresh="fetchUpdates()" class="rtl"></ion-refresher>

    <ion-list>

      <div class="item item-text-wrap text-center rtl" ng-if="groups.length == 0">
        لم تنضم إلى أيّ مجموعة حتّى الآن، إذا كُنت تدير مجموعة لعب خارج التطبيق، فإنّه يُمكنك إضافتها من خلال اللمس على أيقونة “<small><i class="icon ion-plus"></i></small>” في الأعلى، أمّا إذا كنت عضوًا في مجموعة لعب فانتظر إضافتك من قبل مديرها.
      </div>
      
      <a href="#/groups/{{group.id}}/trainings" class="item item-icon-left" ng-repeat="group in groups">
        <i class="icon ion-person-stalker dark"></i>
        <h2 class="rtl text-left">{{group.name}}</h2>
        <p class="rtl text-left">{{group.playersCount}} لاعب.</p>
        <span class="badge badge-assertive" ng-if="group.activitiesCount > 0">{{group.activitiesCount}}</span>
      </a>

    </ion-list>

  </ion-content>

</ion-view>