
<ion-view title="إضافة مجموعة">

    <ion-nav-bar>
    </ion-nav-bar>

    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ui-sref="home.groups"></a>
    </ion-nav-buttons>

    <ion-content padding="true" has-footer="true">
        <form name="addForm" ng-submit="addGroup()">
            <div class="list">
                <label class="item item-input">
	                <span class="input-label">اسم المجموعة</span>
	                <input type="text" placeholder="المحترفون" ng-model="parameters.name" />
                </label>
                <div>
                    <button class="button button-block button-positive" type="submit">إضافة مجموعة</button>
                </div>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="title ">
            <small>إضافة اللاعبين إلى المجموعة ستأتي تباعًا.</small>
        </div>
    </div>
</ion-view>