
<ion-view view-title="{{group.name}}">
    <ion-nav-bar>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-outline" ng-click="more()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-ios-arrow-back" ui-sref="home.groups"></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <ion-refresher pulling-icon="ion-ios-arrow-down" pulling-text="اسحب للتحديث..." on-refresh="pullToRefresh()" class="rtl"></ion-refresher>
        <ion-list>

			<div class="item item-text-wrap text-center rtl" ng-if="players.length == 0">
			    لم يتم إضافة لاعبين حتّى الآن، يمكنك القيام بذلك من خلال اللمس على أيقونة '+' في الأعلى.
			</div>

			<ion-item class="item item-avatar item-icon-left" ng-repeat="player in group.players" ng-click="playerMore(player.id)">
			    <img src="http://api.adorable.io/avatars/70/{{player.id}}" />
			    <h2>{{player.fullname}}</h2>
			    <p>
			        <span ng-if="player.role == 'member'">انضم {{player.joinedAt | fromNow }}</span>
			        <span class="assertive" ng-if="player.role == 'admin'">مدير المجموعة</span>
			    </p>
			    <span class="icon ion-ios-more"></span>
			</ion-item>

            <a href="#" class="button button-block button-assertive">مُغادرة هذه المجموعة</a>

        </ion-list>
    </ion-content>
</ion-view>