
<ion-view view-title="التمارين">

    <ion-nav-bar></ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-outline" ui-sref="trainings-add"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-top tabs-icon-only">

        <ion-tab title="خاصّةٌ بي" on-select="fetchSpecifiedTrainings()">
            <ion-nav-view name="tab-b">
                <ion-content class="padding has-footer">
                    <ion-refresher pulling-icon="ion-ios-arrow-down" pulling-text="اسحب للتحديث..." on-refresh="specifiedPullToRefresh()"></ion-refresher>
                    <ion-list>

                        <div class="text-center padding home-no-items-with-tab" ng-if="specifiedTrainings.length == 0">
                            <img src="http://api.adorable.io/avatars/70/24" /><br /><br />
                            لم يتم العثور على أيّ تمرين، يُمكنك إضافة تمرينٍ جديدٍ من خلال اللّمس على أيقونة <span class="ion-ios-plus-outline" /> في الأعلى.
                            كذلك يُمكنك البحث عن تمرينٍ أضافهُ آخرون من خلال السحب من الأعلى إلى الأسفل.
                        </div>

                        <a ui-sref="trainings-details({id: training.id})" class="item item-avatar item-icon-left" ng-repeat="training in specifiedTrainings">
                            <!-- TODO: It is causing an error. -->
                            <!-- ng-src="{{getStatusImageUrl(training.status, training.percentage)}}" -->
                            <img ng-src="{{training.statusSrc}}"></img>
                            <h2>{{training.name}}</h2>
                            <p>{{training.startedAt | arDate}}</p>
                            <span class="icon energized" ng-if="training.activitiesCount > 0">&bull;</span>
                        </a>

                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="قريبةٌ منّي" on-select="fetchAroundTrainings()">
            <ion-nav-view name="tab-a">
                <ion-content class="padding has-footer">
                    <ion-refresher pulling-icon="ion-ios-arrow-down" pulling-text="اسحب للتحديث..." on-refresh="aroundPullToRefresh()"></ion-refresher>
                    <ion-list>

                        <div class="text-center padding home-no-items-with-tab" ng-if="aroundTrainings.length == 0">
                            <img src="http://api.adorable.io/avatars/70/24" /><br /><br />
                            لم يتم العثور على أيّ تمرين، يُمكنك إضافة تمرينٍ جديدٍ من خلال اللّمس على أيقونة <span class="ion-ios-plus-outline" /> في الأعلى.
                            كذلك يُمكنك البحث عن تمرينٍ أضافهُ آخرون من خلال السحب من الأعلى إلى الأسفل.
                        </div>

                        <a ui-sref="trainings-details({id: training.id})" class="item item-avatar item-icon-left" ng-repeat="training in aroundTrainings">
                            <!-- TODO: It is causing an error. -->
                            <!-- ng-src="{{getStatusImageUrl(training.status, training.percentage)}}" -->
                            <img ng-src="{{training.statusSrc}}"></img>
                            <h2>{{training.name}}</h2>
                            <p>{{training.distance | round}}كم - {{training.startedAt | arDate}}</p>
                            <span class="icon energized" ng-if="training.activitiesCount > 0">&bull;</span>
                        </a>
                        
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
    <!--   <ion-header-bar class="bar bar-subheader rtl">
        <div class="button-bar">
        <a href="#" class="button button-clear button-positive">مخصّصٌ لي</a>
        <a href="#" class="button button-clear button-dark">قريبٌ منّي</a>
        </div>
        </ion-header-bar> -->
    <!-- <ion-content padding="true" class="has-header has-tabs-top has-tabs">
        </ion-content> -->

</ion-view>