
<ion-view title="شروط الخدمة">

    <ion-nav-bar></ion-nav-bar>

    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ui-sref="users-firsthandshake"></a>
    </ion-nav-buttons>

    <ion-content padding="true">
    	<p>
    		Generally, the more integrated a walkthrough is within an app, the better. Tacking on a walkthrough as an afterthought is a fundamentally lazy approach. Yes, there are some instances in which a separate walkthrough is appropriate (high function, steep learning curve apps), but these types of apps sacrifice short-term usability for long-term, learned functionality.
    	</p>
    </ion-content>

</ion-view>