
<ion-view title="تعرّف على تمرين">

    <ion-nav-bar></ion-nav-bar>

	<!-- <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-checkmark-outline" ui-sref="home.trainings"></button>
    </ion-nav-buttons> -->

    <!-- on-slide-changed="slideChanged(index)" -->
	<ion-slide-box>
		<ion-slide class="padding">
			Hello World!
		</ion-slide>
		<ion-slide>
			<a ui-sref="home.trainings" class="button button-positive">تخطّي</a>
		</ion-slide>
	</ion-slide-box>

</ion-view>