
<ion-view title="بنود الخدمة">

    <ion-nav-bar></ion-nav-bar>

    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ui-sref="users-firsthandshake"></a>
    </ion-nav-buttons>

    <ion-content padding="true">

    	<h4 class="padding">بنود خدمة “تطبيق تمرين”.</h4>

		<p class="padding">
			حُرّرت في ٠٨ نوفمبر ٢٠١٥.
		</p>

		<p class="padding">
			مرحبًا بك، حرصنا على كتابة هذه البنود لخدمة “تطبيق تمرين” بقصد أن تكون واضحةً وَ سهلة وَ إنّك إذ تستخدم “تطبيق تمرين”؛ فذلك يعني موافقتك على هذه البنود، اقرأها بعناية تكرّمًا.
		</p>

		<h5 class="padding">البيانات الشخصيّة.</h5>

		<p class="padding">
			تطبيق تمرين يحفظ المعلومات الأساسيّة فقط وَ التي إمّا تتيح له التحقّق من عملية تسجيل الدخول كرقم الجوّال وَ نظام التشغيل للجوّال، أو تتيح للمستخدمين الآخرين التعرّف عليك كالاسم الكامل (الثنائي)، علمًا أنّ تطبيق تمرين لا يحفظ موقعك الجغرافيّ.
		</p>

		<h5 class="padding">السجلات.</h5>

		<p class="padding">
			نحتفظ في تطبيق تمرين بسجلات طلبات واجهة التطبيق البرمجيّة (API) بقصد توفير إحصائيات لاستخدام التطبيق.
		</p>

		<h5 class="padding">الحوكمة.</h5>

		<p class="padding">
			أنت مسؤول عن المحتوى الذي تنشره في تطبيق تمرين، لا تسئ استخدام التطبيق بايّ شكلٍ من الأشكال.
		</p>

		<h5 class="padding">الضمانات.</h5>

		<p class="padding">
			نسعى في تطبيق تمرين إلى اختبار التطبيق و تحسينه بشكلٍ دوريّ لكنّنا لا نقدّم أيّ ضماناتٍ بهذا الخصوص.
		</p>

		<h5 class="padding">التغيير في بنود الخدمة.</h5>

		<p class="padding">
			نلتزم في تطبيق تمرين بإشعار المستخدمين عند تغيّر بنود الخدمة، كما قد نستشيرهم قبل ذلك.
			<br /><br />
    	</p>

    </ion-content>

</ion-view>