
<ion-view title="تحديث المعلومات">

    <ion-nav-bar></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ui-sref="home.profile"></a>
    </ion-nav-buttons>

    <ion-content padding="true">
        <form ng-submit="updatePlayer()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">الاسم الكامل</span>
                    <input type="text" placeholder="محمد المحمد" ng-model="parameters.fullname" class="text-left">
                </label>
                <div>
                    <button class="button button-block button-positive" type="submit">تحديث المعلومات</button>
                </div>
            </div>
        </form>
    </ion-content>

</ion-view>