
<ion-view title="إضافة تمرين">

  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true">
    <form ng-submit="add(group.id)">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">اسم الملعب</span>
          <input type="text" placeholder="الإبداع" ng-model="parameters.stadium" class="rtl text-left">
        </label>

        <!--<label class="item" ng-click="pickDate()">
          <input type="text" placeholder="وقت البدء" ng-model="parameters.startedAt" class="rtl text-left" ng-focus="pickDate()">
          <p>التاريخ</p>
        </label> -->

        <label class="item item-input item-select">
          <span class="input-label">التاريخ</span>
          <select ng-model="parameters.startedAtDate">
            <option value="" ng-selected="selected">اختر تاريخًا</option>
            <option ng-repeat="date in dates" value="{{date.id}}">
              {{date.value}}
            </option>
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">وقت البدء</span>
          <select ng-model="parameters.startedAtTime">
            <option value="" ng-selected="selected">اختر وقتًا</option>
            <option ng-repeat="hour in hours" value="{{hour.id}}">
              {{hour.value}}
            </option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">عدد اللاعبين</span>
          <input type="tel" placeholder="20" ng-model="parameters.playersCount" class="rtl text-left">
        </label>

        <label class="item item-input">
          <span class="input-label">عدد الاحتياط</span>
          <input type="tel" placeholder="4" ng-model="parameters.subsetPlayersCount" class="rtl text-left">
        </label>

        <div>
          <button class="button button-block button-positive rtl" type="submit">إضافة تمرين</button>
        </div>
      </div>
    </form>
  </ion-content>

  <div class="bar bar-footer bar-light">
    <div class="title rtl">
      <small>سيبدأ التحضير مُباشرةً بعد الإضافة.</small>
    </div>
  </div>

</ion-view>