/* Empty. Add your own CSS if you like */

.rtl, .popup-body, .loading-container .loading, .popup-buttons, .action-sheet-title{
	direction: rtl;
}

.popup-buttons .button{
	margin-right: 0;
	margin-left: 5px;
}

.popup-buttons .button:last-child{
	margin-left: 0;
}

a{
	color: #4F8EF7; text-decoration: none;
	border-bottom: 1px dotted #4F8EF7;
}

.item-logo{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f1f1f1;
}